<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    <title>default-tittle</title>
    <style>
      .defalutClass
      {
        color: grey;
      }
      .checked
      {
        color: green;
      }
      .unchecked
      {
        color: red;
      }
    </style>
</head>
<body>
  <div id="keyUpExample">
    <input type="text" id="someId" v-model="inputValue" @keyup="keyUpMethods()"><br>
    <label for="someId" :class="checkedClass">大于等于6位，小于等于18位</label>
  </div>
  <div id="app">
    <input type="checkbox" id="checkbox" v-model="checked">
    <label for="checkbox">{{checked}}</label>
    <input type="checkbox" id="jack" value="Jack1" v-model="checkedNames">
    <label for="jack">Jack</label>
    <input type="checkbox" id="john" value="John2" v-model="checkedNames">
    <label for="john">John</label>
    <input type="checkbox" id="mike" value="Mike3" v-model="checkedNames">
    <label for="mike">Mike</label>
    <input type="checkbox" id="trueForFalse" v-model="isAgree">
    <label for="trueForFalse">同意协议</label>
    <br>
    <span>Check names : {{checkedNames}}</span>
    <button type="button" :disabled="!isAgree" @click="alertSomething()">下一步</button>
  </div>
  <br>
  <div id="example-4">
    <label for="one">
    <input type="radio" id="one" value="One" v-model="picked">
    One</label>
    <br>
    <input type="radio" id="two" value="Two" v-model="picked">
    <label for="two">Two</label>
    <br>
    <span>Picked:{{picked}}</span>

  </div>
  <div id="example-5">
    <select v-model="selected">
      <option disabled="disabled" value="">请选择</option>
      <option v-for="(option, index) in example5list" :key="option" :value="option">{{index++}}:{{option}}</option>
    </select>
    <span>选择：{{selected}}</span>
  </div>
  <div id="example-6">
    <input type="number" placeholder="数字" v-model.number="num"><br>
    <span>数字:{{num}}</span>
  </div>
  <div id="example-7">
    <input type="text" placeholder="文本" v-model.trim="textfile"><br>
    <span>文本：{{textfile}}</span>
  </div>
  <script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>
  <script>
    const keyUpExample=new Vue({
      el:'#keyUpExample',
      data() {
        return {
          inputValue:'',
          checkedClass: 'defalutClass'
        }
      },
      methods: {
        keyUpMethods()
        {
          if(this.inputValue.length<=18 && this.inputValue.length>=6)
          {
            this.checkedClass='checked';
          }
          else{
            this.checkedClass='unchecked';
          }
        }
      },
    });
    const app=new Vue({
      el: '#app',
      data() {
        return {
          checkedNames:[],
          checked: true,
          isAgree: false
        }
      },
      methods: {
        alertSomething()
        {
          alert("click now");
        }
      },
    });
    const example4=new Vue({
      el: '#example-4',
      data() {
        return {
          picked: ''
        }
      },
    });
    const example5=new Vue({
      el: '#example-5',
      data() {
        return {
          example5list : ['option1','option2','option3'],
          selected: ''
        }
      },
    });
    const example6=new Vue({
      el: '#example-6',
      data() {
        return {
          num: 0
        }
      },
    });
    const example7=new Vue({
      el: '#example-7',
      data() {
        return {
          textfile: 'aaa'
        }
      },
    });
  
  </script>
</body>
</html>